<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                INICIO
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    storefront
                </i>
                VENDER
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    search
                </i>
                PESQUISAR
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    category
                </i>
                CATEGORIAS
            </a>
            <a mat-list-item routerLink="/stock">
                <i class="material-icons">
                    inventory_2
                </i>
                ESTOQUE
            </a>
            <a mat-list-item>
                <span class="material-icons">
                    account_circle
                    </span>
                PERFIL
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
