@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins'; }

.red{
    color: rgb(277, 94, 107);
}
.v-middle{
    vertical-align: middle;
}
.msg-success{
    background-color: greenyellow;
    color: honeydew;
}
.msg-error{
    background-color: red;
    color: honeydew;
}